altgraph==0.17.2
boto3==1.38.1
botocore==1.38.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.4
Deprecated==1.2.18
future==0.18.2
idna==3.10
jmespath==1.0.1
macholib==1.15.2
pycparser==2.22
PyGithub==2.6.1
PyJWT==2.10.1
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.12.0
six==1.15.0
typing_extensions==4.14.0
urllib3==1.26.20
wrapt==1.17.2
