<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="dt.compnerd.org"
           Name="Developer Tools"
           UpgradeCode="649713cc-c7c8-4c77-a550-bf39e9ece9b0"
           Version="0.0.0.0">
    <Package Comments="Copyright 2020 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;"
             Compressed="yes"
             Description="Developer Tools"
             InstallScope="perMachine"
             Manufacturer="dt.compnerd.org" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="devtools.cab" EmbedCab="yes" />

    <?ifdef INCLUDE_DEBUG_INFO ?>
    <Media Id="2" Cabinet="devtools_PDBs.cab" EmbedCab="yes" />
    <?endif?>

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="DEVELOPER" Name="Developer">
            <Directory Id="TOOLCHAINS" Name="Toolchains">
              <Directory Id="UNKNOWN_ASSERTS_DEVELOPMENT_XCTOOLCHAIN" Name="unknown-Asserts-development.xctoolchain">
                <Directory Id="USR" Name="usr">
                  <Directory Id="USR_BIN" Name="bin">
                  </Directory>
                  <!--
                  FIXME(compnerd) should we include the cyaml and llbuild headers?
                  <Directory Id="USR_INCLUDE" Name="include">
                    <Directory Id="USR_INCLUDE_CYAML" Name="cyaml">
                    </Directory>
                    <Directory Id="USR_INCLUDE_LLBUILD" Name="llbuild">
                    </Directory>
                  </Directory>
                  -->
                  <Directory Id="USR_LIB" Name="lib">
                    <!-- FIXME(compnerd) should we include the TSC, SPM import libraries? -->
                    <Directory Id="USR_LIB_SWIFT" Name="swift">
                      <Directory Id="USR_LIB_SWIFT_PM" Name="pm">
                        <?if $(var.HAVE_UNIFIED_SPM_MANIFEST) = true?>
                        <Directory Id="USR_LIB_SWIFT_PM_MANIFEST_API" Name="ManifestAPI">
                        </Directory>
                        <?else?>
                        <Directory Id="USR_LIB_SWIFT_PM_4" Name="4">
                        </Directory>
                        <Directory Id="USR_LIB_SWIFT_PM_4_2" Name="4_2">
                        </Directory>
                        <?endif?>
                      </Directory>
                      <!--
                      FIXME(compnerd) should we include the import libraries and swiftmodules for Yams, ArgumentParser?
                      <Directory Id="USR_LIB_SWIFT_WINDOWS" Name="windows">
                        <Directory Id="USR_LIB_SWIFT_WINDOWS_X86_64" Name="x86_64">
                        </Directory>
                      </Directory>
                      -->
                    <!-- FIXME(compnerd) should we include the llbuild import libraries? -->
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="USR_BIN">
      <!-- IndexStoreDB -->
      <Component Id="INDEXSTOREDB_BINS" Guid="102168af-95bc-41d6-9b38-b418467e7fac">
        <File Id="INDEXSTOREDB_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\IndexStoreDB.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="INDEXSTOREDB_DEBUGINFO" Guid="e2d1cff9-49c6-433a-a8a8-f867e3ef4824">
        <File Id="INDEXSTOREDB_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\IndexStoreDB.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- llbuild -->
      <Component Id="LLBUILD_BINS" Guid="6db5d6b2-9143-4078-8b53-adeefadf79f5">
        <File Id="LLBUILD_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\llbuild.dll" Checksum="yes" />
        <File Id="LLBUILDSWIFT_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\llbuildSwift.dll" Checksum="yes" />

        <File Id="SWIFT_BUILD_TOOL_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-build-tool.exe" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="LLBUILD_DEBUGINFO" Guid="2a762cb5-a850-4bde-8c49-6afe0e09972f">
        <File Id="LLBUILD_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\llbuild.pdb" Checksum="yes" />
        <File Id="LLBUILDSWIFT_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\llbuildSwift.pdb" Checksum="yes" />

        <File Id="SWIFT_BUILD_TOOL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-build-tool.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- SourceKit-LSP -->
      <Component Id="SOURCEKIT_LSP_BINS" Guid="4688f4d2-15b6-4fb7-8dd3-f24e403f1353">
        <File Id="BUILD_SERVER_PROTOCOL_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\BuildServerProtocol.dll" Checksum="yes" />
        <File Id="LANGUAGE_SERVER_PROTOCOL_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LanguageServerProtocol.dll" Checksum="yes" />
        <File Id="LANGUAGE_SERVER_PROTOCOL_JSONRPC_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LanguageServerProtocolJSONRPC.dll" Checksum="yes" />
        <File Id="LSP_LOGGING_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LSPLogging.dll" Checksum="yes" />
        <File Id="SKCORE_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKCore.dll" Checksum="yes" />
        <File Id="SKSUPPORT_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKSupport.dll" Checksum="yes" />
        <File Id="SKSWIFTPM_WORKSPACE_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKSwiftPMWorkspace.dll" Checksum="yes" />
        <File Id="SOURCEKIT_LSP_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceKitLSP.dll" Checksum="yes" />
        <File Id="SOURCEKIT_D_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceKitD.dll" Checksum="yes" />
        <File Id="SOURCEKIT_LSP_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\sourcekit-lsp.exe" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SOURCEKIT_LSP_DEBUGINFO" Guid="7dd6ca43-85fa-4995-95b8-f6fb970e1d00">
        <File Id="BUILD_SERVER_PROTOCOL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\BuildServerProtocol.pdb" Checksum="yes" />
        <File Id="LANGUAGE_SERVER_PROTOCOL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LanguageServerProtocol.pdb" Checksum="yes" />
        <File Id="LANGUAGE_SERVER_PROTOCOL_JSONRPC_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LanguageServerProtocolJSONRPC.pdb" Checksum="yes" />
        <File Id="LSP_LOGGING_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LSPLogging.pdb" Checksum="yes" />
        <File Id="SKCORE_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKCore.pdb" Checksum="yes" />
        <File Id="SKSUPPORT_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKSupport.pdb" Checksum="yes" />
        <File Id="SKSWIFTPM_WORKSPACE_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SKSwiftPMWorkspace.pdb" Checksum="yes" />
        <File Id="SOURCEKIT_LSP_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceKitLSP.pdb" Checksum="yes" />
        <File Id="SOURCEKIT_D_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceKitD.pdb" Checksum="yes" />
        <File Id="SOURCEKIT_LSP_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\sourcekit-lsp.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- swift-argument-parser -->
      <Component Id="SWIFT_ARGUMENT_PARSER_BINS" Guid="aef2e271-6f83-4838-bd41-3802ded17ddc">
        <File Id="ARGUMENT_PARSER_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\ArgumentParser.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_ARGUMENT_PARSER_DEBUGINFO" Guid="858c7524-a6ad-4a0f-840c-c9bd78b5b415">
        <File Id="ARGUMENT_PARSER_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\ArgumentParser.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- swift-crypto -->
      <?if $(var.HAVE_SWIFT_CRYPTO) = true ?>
      <Component Id="SWIFT_CRYPTO_BINS" Guid="aab41adf-d876-4fa5-9d3e-c9c197e09331">
        <File Id="CRYPTO_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Crypto.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_CRYPTO_DEBUGINFO" Guid="4cbda17f-a85b-4620-bdd4-18b03ba07499">
        <File Id="CRYPTO_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Crypto.pdb" Checksum="yes" />
      </Component>
      <?endif?>
      <?endif?>

      <!-- swift-collections -->
      <?ifdef $(var.HAVE_SWIFT_COLLECTIONS) = true ?>
      <Component Id="SWIFT_COLLECTIONS_BINS" Guid="522f00f6-aa89-421e-a89b-5c91d75793af">
        <File Id="COLLECTIONS_DLL" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\Collections.dll" Checksum="yes" />
        <File Id="DEQUE_MODULE_DLL" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\DequeModule.dll" Checksum="yes" />
        <File Id="ORDERED_COLLECTIONS_DLL" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\OrderedCollections.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_COLLECTIONS_DEBUGINFO" Guid="59abe3a6-dfa0-43dc-ba8c-2e2d1119cd44">
        <File Id="COLLECTIONS_PDB" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\Collections.pdb" Checksum="yes" />
        <File Id="DEQUE_MODULE_PDB" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\DequeModule.pdb" Checksum="yes" />
        <File Id="ORDERED_COLLECTIONS_PDB" Source="$(var.SWIFT_COLLECTIONS_ROOT)\usr\bin\OrderedCollections.pdb" Checksum="yes" />
      </Component>
      <?endif?>
      <?endif?>

      <!-- swift-driver -->
      <Component Id="SWIFT_DRIVER_BINS" Guid="f7285238-ca6f-473d-82f4-50e852d2ed01">
        <File Id="SWIFT_DRIVER_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SwiftDriver.dll" Checksum="yes" />
        <File Id="SWIFT_OPTIONS_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SwiftOptions.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_DRIVER_DEBUGINFO" Guid="2cde956b-2949-4369-8a98-4b8616402acd">
        <File Id="SWIFT_DRIVER_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SwiftDriver.pdb" Checksum="yes" />
        <File Id="SWIFT_OPTIONS_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SwiftOptions.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- swift-package-manager -->
      <Component Id="SWIFT_PACKAGE_MANAGER_BINS" Guid="1fa183c6-20ff-4ffb-941c-614c45d535b1">
        <File Id="BASICS_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Basics.dll" Checksum="yes" />
        <File Id="BUILD_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Build.dll" Checksum="yes" />
        <File Id="COMMANDS_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Commands.dll" Checksum="yes" />
        <File Id="LLBUILD_MANIFEST_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LLBuildManifest.dll" Checksum="yes" />
        <File Id="PACKAGE_GRAPH_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageGraph.dll" Checksum="yes" />
        <File Id="PACKAGE_LOADING_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageLoading.dll" Checksum="yes" />
        <File Id="PACKAGE_MODEL_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageModel.dll" Checksum="yes" />
        <File Id="SOURCE_CONTROL_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceControl.dll" Checksum="yes" />
        <File Id="SPMBUILD_CORE_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SPMBuildCore.dll" Checksum="yes" />
        <File Id="SPMLLBUILD_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SPMLLBuild.dll" Checksum="yes" />
        <File Id="WORKSPACE_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Workspace.dll" Checksum="yes" />
        <File Id="XCBUILD_SUPPORT_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\XCBuildSupport.dll" Checksum="yes" />
        <File Id="XCODEPROJ_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Xcodeproj.dll" Checksum="yes" />
        <?if $(var.HAVE_SWIFT_PACKAGE_COLLECTIONS) = true?>
        <File Id="PACKAGE_COLLECTIONS_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollections.dll" Checksum="yes" />
        <File Id="PACKAGE_COLLECTIONS_MODEL_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollectionsModel.dll" Checksum="yes" />
        <File Id="PACKAGE_COLLECTIONS_SIGNING_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollectionsSigning.dll" Checksum="yes" />
        <?endif?>

        <File Id="SWIFT_BUILD_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-build.exe" Checksum="yes" />
        <File Id="SWIFT_PACKAGE_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-package.exe" Checksum="yes" />
        <File Id="SWIFT_RUN_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-run.exe" Checksum="yes" />
        <File Id="SWIFT_TEST_EXE" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-test.exe" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_PACKAGE_MANAGER_DEBUGINFO" Guid="d0b5186e-8d61-4984-979c-0eefca120369">
        <File Id="BASICS_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Basics.pdb" Checksum="yes" />
        <File Id="BUILD_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Build.pdb" Checksum="yes" />
        <File Id="COMMANDS_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Commands.pdb" Checksum="yes" />
        <File Id="LLBUILD_MANIFEST_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\LLBuildManifest.pdb" Checksum="yes" />
        <File Id="PACKAGE_GRAPH_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageGraph.pdb" Checksum="yes" />
        <File Id="PACKAGE_LOADING_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageLoading.pdb" Checksum="yes" />
        <File Id="PACKAGE_MODEL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageModel.pdb" Checksum="yes" />
        <File Id="SOURCE_CONTROL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SourceControl.pdb" Checksum="yes" />
        <File Id="SPMBUILD_CORE_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SPMBuildCore.pdb" Checksum="yes" />
        <File Id="SPMLLBUILD_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\SPMLLBuild.pdb" Checksum="yes" />
        <File Id="WORKSPACE_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Workspace.pdb" Checksum="yes" />
        <File Id="XCBUILD_SUPPORT_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\XCBuildSupport.pdb" Checksum="yes" />
        <File Id="XCODEPROJ_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Xcodeproj.pdb" Checksum="yes" />
        <?if $(var.HAVE_SWIFT_PACKAGE_COLLECTIONS) = true?>
        <File Id="PACKAGE_COLLECTIONS_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollections.pdb" Checksum="yes" />
        <File Id="PACKAGE_COLLECTIONS_MODEL_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollectionsModel.pdb" Checksum="yes" />
        <File Id="PACKAGE_COLLECTIONS_SIGNING_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\PackageCollectionsSigning.pdb" Checksum="yes" />
        <?endif?>

        <File Id="SWIFT_BUILD_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-build.pdb" Checksum="yes" />
        <File Id="SWIFT_PACKAGE_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-package.pdb" Checksum="yes" />
        <File Id="SWIFT_RUN_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-run.pdb" Checksum="yes" />
        <File Id="SWIFT_TEST_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\swift-test.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!-- swift-tools-support-core -->
      <Component Id="SWIFT_TOOLS_SUPPORT_CORE_BINS" Guid="7d9ea294-50e4-46a5-855d-221370efe57f">
        <File Id="TSC_BASIC_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCBasic.dll" Checksum="yes" />
        <File Id="TSC_LIBC_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCLibc.dll" Checksum="yes" />
        <File Id="TSC_UTILITY_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCUtility.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_TOOLS_SUPPORT_CORE_DEBUGINFO" Guid="4add2ef7-269a-4eb8-996b-9e9a56fd2bfb">
        <File Id="TSC_BASIC_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCBasic.pdb" Checksum="yes" />
        <File Id="TSC_LIBC_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCLibc.pdb" Checksum="yes" />
        <File Id="TSC_UTILITY_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\TSCUtility.pdb" Checksum="yes" />
      </Component>
      <?endif?>

      <!--- Yams -->
      <Component Id="YAMS_BINS" Guid="787d654f-1bfa-48e8-974e-78d805ee593c">
        <File Id="CYAML_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\CYaml.dll" Checksum="yes" />
        <File Id="YAMS_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Yams.dll" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="YAMS_DEBUGINFO" Guid="3458ef8a-68a7-414b-a6de-634c68c4afeb">
        <File Id="CYAML_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\CYaml.pdb" Checksum="yes" />
        <File Id="YAMS_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\bin\Yams.pdb" Checksum="yes" />
      </Component>
      <?endif?>
    </DirectoryRef>

    <?if $(var.HAVE_UNIFIED_SPM_MANIFEST) = true?>
    <DirectoryRef Id="USR_LIB_SWIFT_PM_MANIFEST_API">
      <Component Id="MANIFEST_API" Guid="8680a7e7-654d-4980-be93-6d34142846f2">
        <File Id="MANIFEST_API_PACKAGE_DESCRIPTION_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\ManifestAPI\PackageDescription.dll" Checksum="yes" />
        <File Id="MANIFEST_API_PACKAGE_DESCRIPTION_LIB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\ManifestAPI\PackageDescription.lib" Checksum="yes" />
        <File Id="MANIFEST_API_PACKAGE_DESCRIPTION_SWIFTDOC" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\ManifestAPI\PackageDescription.swiftdoc" Checksum="yes" />
        <File Id="MANIFEST_API_PACKAGE_DESCRIPTION_SWIFTMODULE" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\ManifestAPI\PackageDescription.swiftmodule" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO?>
      <Component Id="MANIFEST_API_DEBUGINFO" Guid="f4c75c22-bdc9-4cf2-b7d0-cf9ac8a95bef">
        <File Id="MANIFESAT_API_PACKAGE_DESCRIPTION_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\ManifestAPI\PackageDescription.pdb" Checksum="yes" />
      </Component>
      <?endif?>
    </DirectoryRef>
    <?else?>
    <DirectoryRef Id="USR_LIB_SWIFT_PM_4">
      <!-- Swift PackageDescription 4 -->
      <Component Id="SWIFT_PD_4" Guid="c827d4fc-2498-402d-8052-aff2ed731d0a">
        <File Id="PD4_PACKAGE_DESCRIPTION_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4\PackageDescription.dll" Checksum="yes" />
        <File Id="PD4_PACKAGE_DESCRIPTION_LIB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4\PackageDescription.lib" Checksum="yes" />
        <File Id="PD4_PACKAGE_DESCRIPTION_SWIFTDOC" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4\PackageDescription.swiftdoc" Checksum="yes" />
        <File Id="PD4_PACKAGE_DESCRIPTION_SWIFTMODULE" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4\PackageDescription.swiftmodule" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_PD_4_DEBUGINFO" Guid="2cdffc86-3db7-41e3-ade9-9d7f113f0164">
        <File Id="PD4_PACKAGE_DESCRIPTION_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4\PackageDescription.pdb" Checksum="yes" />
      </Component>
      <?endif?>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB_SWIFT_PM_4_2">
      <!-- Swift PackageDescription 4.2 -->
      <Component Id="SWIFT_PD_4_2" Guid="17d6ec78-6c0f-464c-9629-3547cdea291b">
        <File Id="PD4_2_PACKAGE_DESCRIPTION_DLL" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4_2\PackageDescription.dll" Checksum="yes" />
        <File Id="PD4_2_PACKAGE_DESCRIPTION_LIB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4_2\PackageDescription.lib" Checksum="yes" />
        <File Id="PD4_2_PACKAGE_DESCRIPTION_SWIFTDOC" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4_2\PackageDescription.swiftdoc" Checksum="yes" />
        <File Id="PD4_2_PACKAGE_DESCRIPTION_SWIFTMODULE" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4_2\PackageDescription.swiftmodule" Checksum="yes" />
      </Component>

      <?ifdef INCLUDE_DEBUG_INFO ?>
      <Component Id="SWIFT_PD_4_2_DEBUGINFO" Guid="bfd57cc1-f965-484e-a60a-afaa9500eb8b">
        <File Id="PD4_2_PACKAGE_DESCRIPTION_PDB" Source="$(var.DEVTOOLS_ROOT)\usr\lib\swift\pm\4_2\PackageDescription.pdb" Checksum="yes" />
      </Component>
      <?endif?>
    </DirectoryRef>
    <?endif?>

    <Feature Id="DEVTOOLS" Level="1">
      <ComponentRef Id="INDEXSTOREDB_BINS" />
      <ComponentRef Id="LLBUILD_BINS" />
      <ComponentRef Id="SOURCEKIT_LSP_BINS" />
      <ComponentRef Id="SWIFT_ARGUMENT_PARSER_BINS" />
      <?if $(var.HAVE_SWIFT_CRYPTO) = true ?>
      <ComponentRef Id="SWIFT_CRYPTO_BINS" />
      <?endif?>
      <?if $(var.HAVE_SWIFT_COLLECTIONS) = true ?>
      <ComponentRef Id="SWIFT_COLLECTIONS_BINS" />
      <?endif?>
      <ComponentRef Id="SWIFT_DRIVER_BINS" />
      <ComponentRef Id="SWIFT_PACKAGE_MANAGER_BINS" />
      <ComponentRef Id="SWIFT_TOOLS_SUPPORT_CORE_BINS" />
      <?if $(var.HAVE_UNIFIED_SPM_MANIFEST) = true?>
      <ComponentRef Id="MANIFEST_API" />
      <?else?>
      <ComponentRef Id="SWIFT_PD_4" />
      <ComponentRef Id="SWIFT_PD_4_2" />
      <?endif?>
      <ComponentRef Id="YAMS_BINS" />
    </Feature>

    <?ifdef INCLUDE_DEBUG_INFO ?>
    <Feature Id="DEBUGINFO" Level="0">
      <Condition Level="1">INSTALL_DEBUGINFO</Condition>
      <ComponentRef Id="INDEXSTOREDB_DEBUGINFO" />
      <ComponentRef Id="LLBUILD_DEBUGINFO" />
      <ComponentRef Id="SOURCEKIT_LSP_DEBUGINFO" />
      <ComponentRef Id="SWIFT_ARGUMENT_PARSER_DEBUGINFO" />
      <?if $(var.HAVE_SWIFT_CRYPTO) = true ?>
      <ComponentRef Id="SWIFT_CRYPTO_DEBUGINFO" />
      <?endif?>
      <?if $(var.HAVE_SWIFT_COLLECTIONS) = true ?>
      <ComponentRef Id="SWIFT_COLLECTIONS_DEBUGINFO" />
      <?endif?>
      <ComponentRef Id="SWIFT_DRIVER_DEBUGINFO" />
      <ComponentRef Id="SWIFT_PACKAGE_MANAGER_DEBUGINFO" />
      <ComponentRef Id="SWIFT_TOOLS_SUPPORT_CORE_DEBUGINFO" />
      <?if $(var.HAVE_UNIFIED_SPM_MANIFEST) = true?>
      <ComponentRef Id="MANIFEST_API_DEBUGINFO" />
      <?else?>
      <ComponentRef Id="SWIFT_PD_4_DEBUGINFO" />
      <ComponentRef Id="SWIFT_PD_4_2_DEBUGINFO" />
      <?endif?>
      <ComponentRef Id="YAMS_DEBUGINFO" />
    </Feature>
    <?endif?>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
