<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="dt.compnerd.org"
           Name="Windows Swift SDK for x86_64"
           UpgradeCode="c16b17e8-b3a3-4674-984e-deb1d1c3ed33"
           Version="0.0.0.0">
    <Package Comments="Copyright 2019-2020 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;"
             Compressed="yes"
             Description="Windows Swift SDK for x86_64"
             InstallScope="perMachine"
             Manufacturer="dt.compnerd.org" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="WindowsSDK.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="LIBRARY_DEVELOPER" Name="Developer">
            <Directory Id="LIBRARY_DEVELOPER_PLATFORMS" Name="Platforms">
              <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM" Name="Windows.platform">
                <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER" Name="Developer">
                  <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER_LIBRARY" Name="Library">

                    <!-- XCTest -->
                    <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER_LIBRARY_XCTEST" Name="XCTest-development">
                      <Directory Id="XCTEST_USR" Name="usr">
                        <Directory Id="XCTEST_USR_BIN" Name="bin">
                        </Directory>
                        <Directory Id="XCTEST_USR_LIB" Name="lib">
                          <Directory Id="XCTEST_USR_LIB_SWIFT" Name="swift">
                            <Directory Id="XCTEST_USR_LIB_SWIFT_WINDOWS" Name="windows">
                              <Directory Id="XCTEST_USR_LIB_SWIFT_WINDOWS_X86_64" Name="x86_64">
                              </Directory>
                            </Directory>
                          </Directory>
                        </Directory>
                      </Directory>
                    </Directory>
                  </Directory>

                  <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER_SDKS" Name="SDKs">

                    <!-- Windows.sdk -->
                    <Directory Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER_SDKS_WINDOWS_SDK" Name="Windows.sdk">
                      <Directory Id="WINDOWS_SDK_USR" Name="usr">
                        <Directory Id="WINDOWS_SDK_USR_INCLUDE" Name="include">
                          <Directory Id="WINDOWS_SDK_USR_INCLUDE_DISPATCH" Name="dispatch">
                          </Directory>
                          <Directory Id="WINDOWS_SDK_USR_INCLUDE_OS" Name="os">
                          </Directory>
                          <Directory Id="WINDOWS_SDK_USR_INCLUDE_SWIFT" Name="swift">
                            <Directory Id="WINDOWS_SDK_USR_INCLUDE_SWIFT_SWIFT_REMOTE_MIRROR" Name="SwiftRemoteMirror">
                            </Directory>
                          </Directory>
                          <Directory Id="WINDOWS_SDK_USR_INCLUDE_BLOCK" Name="Block">
                          </Directory>
                          <?if $(var.INCLUDE_CF_HEADERS) = true ?>
                            <Directory Id="WINDOWS_SDK_USR_INCLUDE_CFURLSESSIONINTERFACE" Name="CFURLSessionInterface">
                            </Directory>
                            <Directory Id="WINDOWS_SDK_USR_INCLUDE_CFXMLINTERFACE" Name="CFXMLInterface">
                            </Directory>
                            <Directory Id="WINDOWS_SDK_USR_INCLUDE_COREFOUNDATION" Name="CoreFoundation">
                            </Directory>
                          <?endif?>
                        </Directory>
                        <Directory Id="WINDOWS_SDK_USR_LIB" Name="lib">
                          <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT" Name="swift">
                            <?if $(var.INCLUDE_CF_HEADERS) = true ?>
                              <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_CFURLSESSIONINTERFACE" Name="CFURLSessionInterface">
                              </Directory>
                              <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_CFXMLINTERFACE" Name="CFXMLInterface">
                              </Directory>
                              <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_COREFOUNDATION" Name="CoreFoundation">
                              </Directory>
                            <?endif?>
                            <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_TENSORFLOW" Name="tensorflow">
                            </Directory>
                            <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_SHIMS" Name="shims">
                            </Directory>
                            <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS" Name="windows">
                              <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64" Name="x86_64">
                                <?if $(var.CORE_OLD_LAYOUT) = false?>
                                  <?if $(var.HAVE_MSVCRT) = true ?>
                                    <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_MSVCRT_SWIFTMODULE" Name="MSVCRT.swiftmodule">
                                    </Directory>
                                  <?else?>
                                    <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_CRT_SWIFTMODULE" Name="CRT.swiftmodule">
                                    </Directory>
                                  <?endif?>
                                  <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_SWIFTONONESUPPORT_SWIFTMODULE" Name="SwiftOnoneSupport.swiftmodule">
                                  </Directory>
                                  <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_SWIFT_SWIFTMODULE" Name="Swift.swiftmodule">
                                  </Directory>
                                  <Directory Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_WINSDK_SWIFTMODULE" Name="WinSDK.swiftmodule">
                                  </Directory>
                                <?endif?>
                              </Directory>
                            </Directory>
                          </Directory>
                        </Directory>
                        <Directory Id="WINDOWS_SDK_USR_SHARE" Name="share">
                        </Directory>
                      </Directory>
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="XCTEST_USR_BIN">
      <Component Id="XCTEST_RUNTIME" Guid="dab15168-27b8-449f-aba9-ae22b93cb681">
        <File Id="XCTEST_DLL" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\bin\XCTest.dll" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XCTEST_USR_LIB_SWIFT_WINDOWS">
      <Component Id="XCTEST_IMPORT_LIBS" Guid="d513ee1e-d7c0-4579-b776-bcc90213bea9">
        <File Id="XCTEST_LIB" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\XCTest.lib" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XCTEST_USR_LIB_SWIFT_WINDOWS_X86_64">
      <Component Id="XCTEST_SWIFT_MODULES" Guid="4a5bfa61-727e-448d-8cf6-069b627eee65">
        <File Id="XCTEST_SWIFTDOC" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\x86_64\XCTest.swiftdoc" Checksum="yes" />
        <File Id="XCTEST_SWIFTMODULE" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\x86_64\XCTest.swiftmodule" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_SWIFT_SWIFT_REMOTE_MIRROR">
      <Component Id="SWIFT_REMOTE_MIRROR_HEADERS" Guid="9b474f4c-10e1-427c-8994-72bd6137583a">
        <File Id="MEMORY_READER_INTERFACE_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\MemoryReaderInterface.h" Checksum="yes" />
        <File Id="PLATFORM_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\Platform.h" Checksum="yes" />
        <File Id="SWIFT_REMOTE_MIRROR_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\SwiftRemoteMirror.h" Checksum="yes" />
        <File Id="SWIFT_REMOTE_MIRROR_TYPES_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\SwiftRemoteMirrorTypes.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_BLOCK">
      <Component Id="BLOCKS_RUNTIME_HEADERS" Guid="ae1605d2-65e2-4b9d-b421-38ff9c639357">
        <File Id="BLOCK_H" Source="$(var.SDK_ROOT)\usr\lib\swift\Block\Block.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_DISPATCH">
      <Component Id="DISPATCH_DISPATCH_HEADERS" Guid="0d2e3f08-8593-49d3-9048-767327aa7b0b">
        <File Id="BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\base.h" Checksum="yes" />
        <File Id="DISPATCH_BLOCK_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\block.h" Checksum="yes" />
        <File Id="DATA_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\data.h" Checksum="yes" />
        <File Id="DISPATCH_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\dispatch.h" Checksum="yes" />
        <File Id="GROUP_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\group.h" Checksum="yes" />
        <File Id="INTROSPECTION_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\introspection.h" Checksum="yes" />
        <File Id="IO_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\io.h" Checksum="yes" />
        <File Id="DISPATCH_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\module.modulemap" Checksum="yes" />
        <File Id="DISPATCH_OBJECT_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\object.h" Checksum="yes" />
        <File Id="ONCE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\once.h" Checksum="yes" />
        <File Id="QUEUE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\queue.h" Checksum="yes" />
        <File Id="SEMAPHORE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\semaphore.h" Checksum="yes" />
        <File Id="SOURCE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\source.h" Checksum="yes" />
        <File Id="TIME_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\time.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_OS">
      <Component Id="DISPATCH_OS_HEADERS" Guid="cad5a627-bee2-401b-bd7e-1f07662cb46e">
        <File Id="GENERIC_UNIX_BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\generic_unix_base.h" Checksum="yes" />
        <File Id="GENERIC_WIN_BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\generic_win_base.h" Checksum="yes" />
        <File Id="OS_OBJECT_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\object.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <?if $(var.CORE_OLD_LAYOUT) = false ?>
      <?if $(var.HAVE_MSVCRT) = true ?>
        <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_MSVCRT_SWIFTMODULE">
          <Component Id="MSVCRT_SWIFTMODULE" Guid="2b69958d-0dfa-497e-8093-f7aa44986564">
            <File Id="MSVCRT_SWIFTMODULE_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\MSVCRT.swiftmodule\x86_64-unknown-windows-msvc.swiftdoc" Checksum="yes" />
            <File Id="MSVCRT_SWIFTMODULE_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\MSVCRT.swiftmodule\x86_64-unknown-windows-msvc.swiftinterface" Checksum="yes" />
            <File Id="MSVCRT_SWIFTMODULE_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\MSVCRT.swiftmodule\x86_64-unknown-windows-msvc.swiftmodule" Checksum="yes" />
          </Component>
        </DirectoryRef>
      <?else?>
        <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_CRT_SWIFTMODULE">
          <Component Id="CRT_SWIFTMODULE" Guid="d4f51dec-baaa-465f-a473-70e4bd68832a">
            <File Id="CRT_SWIFTMODULE_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\CRT.swiftmodule\x86_64-unknown-windows-msvc.swiftdoc" Checksum="yes" />
            <File Id="CRT_SWIFTMODULE_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\CRT.swiftmodule\x86_64-unknown-windows-msvc.swiftinterface" Checksum="yes" />
            <File Id="CRT_SWIFTMODULE_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\CRT.swiftmodule\x86_64-unknown-windows-msvc.swiftmodule" Checksum="yes" />
          </Component>
        </DirectoryRef>
      <?endif?>

      <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_SWIFTONONESUPPORT_SWIFTMODULE">
        <Component Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE" Guid="99c68468-ac15-4acb-9d78-509511615273">
          <File Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\SwiftOnoneSupport.swiftmodule\x86_64-unknown-windows-msvc.swiftdoc" Checksum="yes" />
          <File Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\SwiftOnoneSupport.swiftmodule\x86_64-unknown-windows-msvc.swiftinterface" Checksum="yes" />
          <File Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\SwiftOnoneSupport.swiftmodule\x86_64-unknown-windows-msvc.swiftmodule" Checksum="yes" />
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_SWIFT_SWIFTMODULE">
        <Component Id="SWIFT_SWIFTMODULE" Guid="284781f1-21ee-48f6-995b-c263a5efab49">
          <File Id="SWIFT_SWIFTMODULE_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Swift.swiftmodule\x86_64-unknown-windows-msvc.swiftdoc" Checksum="yes" />
          <File Id="SWIFT_SWIFTMODULE_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Swift.swiftmodule\x86_64-unknown-windows-msvc.swiftinterface" Checksum="yes" />
          <File Id="SWIFT_SWIFTMODULE_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Swift.swiftmodule\x86_64-unknown-windows-msvc.swiftmodule" Checksum="yes" />
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64_WINSDK_SWIFTMODULE">
        <Component Id="WINSDK_SWIFTMODULE" Guid="9b7f1f86-5956-4ddb-92f9-da105dcb996c">
          <File Id="WINSDK_SWIFTMODULE_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\WinSDK.swiftmodule\x86_64-unknown-windows-msvc.swiftdoc" Checksum="yes" />
          <File Id="WINSDK_SWIFTMODULE_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\WinSDK.swiftmodule\x86_64-unknown-windows-msvc.swiftinterface" Checksum="yes" />
          <File Id="WINSDK_SWIFTMODULE_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\WinSDK.swiftmodule\x86_64-unknown-windows-msvc.swiftmodule" Checksum="yes" />
        </Component>
      </DirectoryRef>
    <?endif?>

    <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_WINDOWS_X86_64">
      <Component Id="REGISTRAR" Guid="a42e4007-33b4-4392-92a3-4ffaaee66e32">
        <File Id="SWIFTRT_OBJ" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftrt.obj" Checksum="yes" />
      </Component>

      <Component Id="DISPATCH" Guid="b2817a08-7fb3-4adc-8dc5-a6e950e5df39">
        <File Id="DISPATCH_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Dispatch.swiftdoc" Checksum="yes" />
        <File Id="DISPATCH_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Dispatch.swiftmodule" Checksum="yes" />
      </Component>
      <Component Id="DISPATCH_IMPORT_LIBS" Guid="95063ff6-c2d2-4892-bc0f-b046a8abce79">
        <File Id="DISPATCH_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\dispatch.lib" Checksum="yes" />
        <File Id="SWIFT_DISPATCH_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\swiftDispatch.lib" Checksum="yes" />
      </Component>

      <Component Id="BLOCKS_RUNTIME_IMPORT_LIBS" Guid="8eb97bfc-2559-4f4d-a3d6-864097f6dfb4">
        <File Id="BLOCKS_RUNTIME_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\BlocksRuntime.lib" Checksum="yes" />
      </Component>

      <Component Id="FOUNDATION" Guid="66a6b1d6-f3a5-4894-baa7-1ae45894895a">
        <File Id="FOUNDATION_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Foundation.swiftdoc" Checksum="yes" />
        <File Id="FOUNDATION_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Foundation.swiftmodule" Checksum="yes" />
        <File Id="FOUNDATION_NETWORKING_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationNetworking.swiftdoc" Checksum="yes" />
        <File Id="FOUNDATION_NETWORKING_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationNetworking.swiftmodule" Checksum="yes" />
        <File Id="FOUNDATION_XML_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationXML.swiftdoc" Checksum="yes" />
        <File Id="FOUNDATION_XML_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationXML.swiftmodule" Checksum="yes" />
      </Component>
      <Component Id="FOUNDATION_IMPORT_LIBS" Guid="5eeb293f-19dd-4131-982b-8c7f0331e2e2">
        <File Id="FOUNDATION_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Foundation.lib" Checksum="yes" />
        <File Id="FOUNDATION_NETWORKING_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\FoundationNetworking.lib" Checksum="yes" />
        <File Id="FOUNDATION_XML_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\FoundationXML.lib" Checksum="yes" />
      </Component>

      <?if $(var.CORE_OLD_LAYOUT) = true ?>
        <Component Id="SWIFT" Guid="0a57bda0-d988-4b38-a763-570d192e9e85">
          <File Id="SWIFT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftdoc" Checksum="yes" />
          <File Id="SWIFT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftinterface" Checksum="yes" />
          <File Id="SWIFT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftmodule" Checksum="yes" />

          <File Id="SWIFT_ONONE_SUPPORT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftdoc" Checksum="yes" />
          <File Id="SWIFT_ONONE_SUPPORT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftinterface" Checksum="yes" />
          <File Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftmodule" Checksum="yes" />
        </Component>

        <Component Id="SDK_OVERLAY" Guid="18fa0c8d-80d9-45a7-9da7-36f953183bcd">
          <?if $(var.HAVE_MSVCRT) = true ?>
            <File Id="MSVCRT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftdoc" Checksum="yes" />
            <File Id="MSVCRT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftinterface" Checksum="yes" />
            <File Id="MSVCRT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftmodule" Checksum="yes" />
          <?else?>
            <File Id="CRT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\CRT.swiftdoc" Checksum="yes" />
            <File Id="CRT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\CRT.swiftinterface" Checksum="yes" />
            <File Id="CRT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\CRT.swiftmodule" Checksum="yes" />
          <?endif?>

          <File Id="WINSDK_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftdoc" Checksum="yes" />
          <File Id="WINSDK_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftinterface" Checksum="yes" />
          <File Id="WINSDK_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftmodule" Checksum="yes" />
        </Component>
      <?endif?>
      <Component Id="SWIFT_IMPORT_LIBS" Guid="0823f52b-1e2a-4eb5-a180-dc2ca61aecf9">
        <File Id="SWIFT_CORE_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftCore.lib" Checksum="yes" />
        <File Id="SWIFT_SWIFT_ONONE_SUPPORT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftSwiftOnoneSupport.lib" Checksum="yes" />
      </Component>

      <Component Id="SDK_OVERLAY_IMPORT_LIBS" Guid="ffba6437-f4c2-4ea6-876e-241579541535">
        <?if $(var.HAVE_MSVCRT) = true ?>
          <File Id="SWIFT_MSVCRT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftMSVCRT.lib" Checksum="yes" />
        <?else?>
          <File Id="SWIFT_CRT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftCRT.lib" Checksum="yes" />
        <?endif?>
        <File Id="SWIFT_WINSDK_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftWinSDK.lib" Checksum="yes" />
      </Component>

      <Component Id="SWIFT_REMOTE_MIRROR_IMPORT_LIBS" Guid="5332801b-499e-4818-ad33-265337631c68">
        <File Id="SWIFT_REMOTE_MIRROR_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftRemoteMirror.lib" Checksum="yes" />
      </Component>

      <?if $(var.TENSORFLOW) = true ?>
        <Component Id="_DIFFERENTIATION" Guid="f9d5b1a5-df8c-4b3e-8f67-075e6c66bd9e">
          <File Id="_DIFFERENTIATION_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\_Differentiation.swiftdoc" Checksum="yes" />
          <File Id="_DIFFERENTIATION_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\_Differentiation.swiftinterface" Checksum="yes" />
          <File Id="_DIFFERENTIATION_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\_Differentiation.swiftmodule" Checksum="yes" />
        </Component>
        <Component Id="_DIFFERENTIATION_IMPORT_LIBS" Guid="f919479b-f945-45ed-b7b1-a063bf964e04">
          <File Id="SWIFT_DIFFERENTIATION_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swift_Differentiation.lib" Checksum="yes" />
        </Component>

        <Component Id="PYTHONKIT" Guid="deb2aca7-403b-4ade-ba5c-6b9f40502a69">
          <File Id="PYTHONKIT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\PythonKit.swiftdoc" Checksum="yes" />
          <File Id="PYTHONKIT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\PythonKit.swiftmodule" Checksum="yes" />
        </Component>
        <Component Id="PYTHONKIT_IMPORT_LIBS" Guid="4f2cb4c7-6acf-42a0-a347-22e5560089c9">
          <File Id="PYTHONKIT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\PythonKit.lib" Checksum="yes" />
        </Component>

        <Component Id="TENSORFLOW_IMPORT_LIBS" Guid="a8ed3372-8b8a-4f5a-af1c-dda6f316846b">
          <File Id="TENSORFLOW_LIB" Source="$(var.TensorFlow_ROOT)\Library\tensorflow-2.3.0\usr\lib\x10.lib" Checksum="yes" />
        </Component>

        <Component Id="TENSORFLOW_SWIFT_APIS" Guid="8ff21496-2fa0-4acf-a384-9c6a1e16d0f5">
          <!--
          <File Id="EXPERIMENTAL_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Experimental.swiftdoc" Checksum="yes" />
          <File Id="EXPERIMENTAL_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Experimental.swiftmodule" Checksum="yes" />
          -->

          <File Id="TENSOR_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Tensor.swiftdoc" Checksum="yes" />
          <File Id="TENSOR_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Tensor.swiftmodule" Checksum="yes" />

          <File Id="TENSORFLOW_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\TensorFlow.swiftdoc" Checksum="yes" />
          <File Id="TENSORFLOW_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\TensorFlow.swiftmodule" Checksum="yes" />

          <File Id="X10_OPTIMIZERS_TENSOR_VISITOR_PLAN_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_optimizers_tensor_visitor_plan.swiftdoc" Checksum="yes" />
          <File Id="X10_OPTIMIZERS_TENSOR_VISITOR_PLAN_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_optimizers_tensor_visitor_plan.swiftmodule" Checksum="yes" />

          <File Id="X10_OPTIMIZERS_OPTIMIZER_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_optimizers_optimizer.swiftdoc" Checksum="yes" />
          <File Id="X10_OPTIMIZERS_OPTIMIZER_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_optimizers_optimizer.swiftmodule" Checksum="yes" />

          <File Id="X10_TRAINING_LOOP_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_training_loop.swiftdoc" Checksum="yes" />
          <File Id="X10_TRAINING_LOOP_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\x10_training_loop.swiftmodule" Checksum="yes" />
        </Component>
        <Component Id="TENSORFLOW_SWIFT_APIS_IMPORT_LIBS" Guid="1c16111f-bcbe-4943-bb84-9cb76f5ca6c3">
          <File Id="TENSOR_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Tensor.lib" Checksum="yes" />
          <File Id="SWIFTTENSORFLOW_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\swiftTensorFlow.lib" Checksum="yes" />
          <File Id="X10_OPTIMIZERS_TENSOR_VISITOR_PLAN_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x10_optimizers_tensor_visitor_plan.lib" Checksum="yes" />
          <File Id="X10_OPTIMIZERS_OPTIMIZER_PLAN_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x10_optimizers_optimizer.lib" Checksum="yes" />
          <File Id="X10_TRAINING_LOOP_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x10_training_loop.lib" Checksum="yes" />
        </Component>
      <?endif?>
    </DirectoryRef>

    <?if $(var.INCLUDE_CF_HEADERS) = true ?>
      <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_CFURLSESSIONINTERFACE">
        <Component Id="CFURLSESSIONINTERFACE_HEADERS_INCLUDE" Guid="8a356808-a8ce-4660-820f-0cbecc349b27">
          <File Id="_CFURLSESSIONINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\CFURLSessionInterface.h" Checksum="yes" />
          <File Id="_CFURLSESSIONINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\module.map" Checksum="yes" />
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="WINDOWS_SDK_USR_INCLUDE_CFXMLINTERFACE">
        <Component Id="CFXMLINTERFACE_HEADERS_INCLUDE" Guid="7c7571a8-2bbb-458a-bb28-6b2995afa599">
          <File Id="_CFXMLINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\CFXMLInterface.h" Checksum="yes" />
          <File Id="_CFXMLINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\module.map" Checksum="yes" />
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_CFURLSESSIONINTERFACE">
        <Component Id="CFURLSESSIONINTERFACE_HEADERS_RESOURCE" Guid="d908f6f0-066a-4c9f-9af6-870009ff7744">
          <File Id="CFURLSESSIONINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\CFURLSessionInterface.h" Checksum="yes" />
          <File Id="CFURLSESSIONINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\module.map" Checksum="yes" />
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="WINDOWS_SDK_USR_LIB_SWIFT_CFXMLINTERFACE">
        <Component Id="CFXMLINTERFACE_HEADERS_RESOURCE" Guid="5450a487-2d3f-4390-9f3c-52a545569636">
          <File Id="CFXMLINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\CFXMLInterface.h" Checksum="yes" />
          <File Id="CFXMLINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\module.map" Checksum="yes" />
        </Component>
      </DirectoryRef>
    <?endif?>

    <DirectoryRef Id="WINDOWS_SDK_USR_SHARE">
      <Component Id="WINDOWS_MODULE_MAPS_AND_APINOTES" Guid="4b02494d-d425-45f1-8b38-da0c247f1491">
        <File Id="UCRT_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\ucrt.modulemap" Checksum="yes" />
        <File Id="WINSDK_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\winsdk.modulemap" Checksum="yes" />
        <File Id="VISUALC_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.modulemap" Checksum="yes" />
        <File Id="VISUALC_APINOTES" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.apinotes" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM">
      <Component Id="PLATFORM_INFO_PLIST" Guid="7a4a17f7-5e89-48ca-b34e-e33cae29d71a">
        <File Id="INFO_PLIST" Source="$(var.PLATFORM_ROOT)\Info.plist" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LIBRARY_DEVELOPER_PLATFORMS_WINDOWS_PLATFORM_DEVELOPER_SDKS_WINDOWS_SDK">
      <Component Id="SDK_SDKSETTINGS_PLIST" Guid="aebfa7c6-a79b-4561-863c-3d212d3bd962">
        <File Id="SDKSETTINGS_PLIST" Source="$(var.SDK_ROOT)\SDKSettings.plist" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DISPATCH_HEADERS">
      <ComponentRef Id="DISPATCH_DISPATCH_HEADERS" />
      <ComponentRef Id="DISPATCH_OS_HEADERS" />
    </ComponentGroup>

    <ComponentGroup Id="PLISTS">
      <ComponentRef Id="PLATFORM_INFO_PLIST" />
      <ComponentRef Id="SDK_SDKSETTINGS_PLIST" />
    </ComponentGroup>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="ENV_VARS" Guid="0fe99b48-0366-4790-844f-137029531da7">
        <!-- <Condition> %PROCESSOR_ARCHITECTURE~="amd64" </Condition> -->
        <Environment Id="DEVELOPER_DIR" Action="set" Name="DEVELOPER_DIR" Part="all" Permanent="no" System="yes" Value="[WindowsVolume]Library\Developer" />
        <Environment Id="SDKROOT" Action="set" Name="SDKROOT" Part="all" Permanent="no" System="yes" Value="[WindowsVolume]Library\Developer\Platforms\Windows.platform\Developer\SDKs\Windows.sdk" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="SDK" Level="1">
      <ComponentRef Id="XCTEST_RUNTIME" />
      <ComponentRef Id="XCTEST_IMPORT_LIBS" />
      <ComponentRef Id="XCTEST_SWIFT_MODULES" />

      <ComponentRef Id="BLOCKS_RUNTIME_HEADERS" />
      <ComponentRef Id="BLOCKS_RUNTIME_IMPORT_LIBS" />

      <ComponentRef Id="DISPATCH" />
      <ComponentGroupRef Id="DISPATCH_HEADERS" />
      <ComponentRef Id="DISPATCH_IMPORT_LIBS" />

      <ComponentRef Id="FOUNDATION" />
      <?if $(var.INCLUDE_CF_HEADERS) = true ?>
        <ComponentGroupRef Id="COREFOUNDATION_HEADERS_RESOURCE" />
        <ComponentRef Id="CFXMLINTERFACE_HEADERS_RESOURCE" />
        <ComponentRef Id="CFURLSESSIONINTERFACE_HEADERS_RESOURCE" />
        <ComponentGroupRef Id="COREFOUNDATION_HEADERS_INCLUDE" />
        <ComponentRef Id="CFXMLINTERFACE_HEADERS_INCLUDE" />
        <ComponentRef Id="CFURLSESSIONINTERFACE_HEADERS_INCLUDE" />
      <?endif?>
      <ComponentRef Id="FOUNDATION_IMPORT_LIBS" />

      <?if $(var.CORE_OLD_LAYOUT) = true ?>
        <ComponentRef Id="SWIFT" />
      <?else?>
        <ComponentRef Id="SWIFT_SWIFTMODULE" />
        <ComponentRef Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE" />
      <?endif?>
      <ComponentRef Id="SWIFT_IMPORT_LIBS" />

      <?if $(var.CORE_OLD_LAYOUT) = true ?>
        <ComponentRef Id="SDK_OVERLAY" />
      <?else?>
        <?if $(var.HAVE_MSVCRT) = true ?>
          <ComponentRef Id="MSVCRT_SWIFTMODULE" />
        <?else?>
          <ComponentRef Id="CRT_SWIFTMODULE" />
        <?endif?>
        <ComponentRef Id="WINSDK_SWIFTMODULE" />
      <?endif?>
      <ComponentRef Id="SDK_OVERLAY_IMPORT_LIBS" />

      <ComponentRef Id="SWIFT_REMOTE_MIRROR_HEADERS" />
      <ComponentRef Id="SWIFT_REMOTE_MIRROR_IMPORT_LIBS" />

      <ComponentGroupRef Id="SWIFT_SHIMS" />

      <ComponentRef Id="REGISTRAR" />

      <ComponentRef Id="WINDOWS_MODULE_MAPS_AND_APINOTES" />

      <ComponentRef Id="ENV_VARS" />
      <ComponentGroupRef Id="PLISTS" />

      <?if $(var.TENSORFLOW) = true ?>
      <ComponentRef Id="_DIFFERENTIATION" />
      <ComponentRef Id="_DIFFERENTIATION_IMPORT_LIBS" />

      <ComponentRef Id="PYTHONKIT" />
      <ComponentRef Id="PYTHONKIT_IMPORT_LIBS" />

      <ComponentGroupRef Id="TENSORFLOW_HEADERS" />

      <ComponentRef Id="TENSORFLOW_IMPORT_LIBS" />
      <ComponentRef Id="TENSORFLOW_SWIFT_APIS" />
      <ComponentRef Id="TENSORFLOW_SWIFT_APIS_IMPORT_LIBS" />
      <?endif?>
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
