<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Swift"
          Version="0.0.0.0"
          Manufacturer="dt.compnerd.org"
          UpgradeCode="d280bb3c-01ab-4385-b70b-bcaa88f520f8">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\windows-toolchain.msi" Compressed="yes">
        <MsiProperty Name="INSTALL_DEBUGINFO" Value="[INSTALL_DEBUGINFO]" />
      </MsiPackage>
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\sdk.msi" Compressed="yes" />
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\runtime.msi" Compressed="yes" />
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\icu.msi" Compressed="yes" />
      <?if $(var.INCLUDE_TENSORFLOW_MSI) = true ?>
        <MsiPackage SourceFile="$(var.MSI_LOCATION)\tensorflow.msi" Compressed="yes" />
      <?endif?>
    </Chain>
  </Bundle>
</Wix>
