<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Windows Swift SDK for x86_64" Language="1033" Version="0.0.0.0" Manufacturer="dt.compnerd.org" UpgradeCode="c16b17e8-b3a3-4674-984e-deb1d1c3ed33">
    <Package Compressed="yes" InstallScope="perMachine" Manufacturer="dt.compnerd.org" Description="Windows Swift SDK for x86_64" Comments="Copyright 2019 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="WindowsSDK.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="LIBRARY_DEVELOPER" Name="Developer">
            <Directory Id="PLATFORMS" Name="Platforms">
              <Directory Id="WINDOWS_PLATFORM" Name="Windows.platform">
                <Directory Id="PLATFORM_DEVELOPER" Name="Developer">
                  <Directory Id="PLATFORM_DEVELOPER_LIBRARY" Name="Library">
                    <Directory Id="XCTEST" Name="XCTest-development">
                      <Directory Id="XCTEST_USR" Name="usr">
                        <Directory Id="XCTEST_USR_BIN" Name="bin">
                        </Directory>
                        <Directory Id="XCTEST_USR_LIB" Name="lib">
                          <Directory Id="XCTEST_USR_LIB_SWIFT" Name="swift">
                            <Directory Id="XCTEST_USR_LIB_SWIFT_WINDOWS" Name="windows">
                              <Directory Id="XCTEST_USR_LIB_SWIFT_WINDOWS_X86_64" Name="x86_64">
                              </Directory>
                            </Directory>
                          </Directory>
                        </Directory>
                      </Directory>
                    </Directory>
                  </Directory>
                  <Directory Id="SDKs" Name="SDKs">
                    <Directory Id="WINDOWS_SDK" Name="Windows.sdk">
                      <Directory Id="USR" Name="usr">
                        <Directory Id="USR_INCLUDE" Name="include">
                          <Directory Id="USR_INCLUDE_DISPATCH" Name="dispatch">
                          </Directory>
                          <Directory Id="USR_INCLUDE_OS" Name="os">
                          </Directory>
                          <Directory Id="USR_INCLUDE_SWIFT" Name="swift">
                            <Directory Id="USR_INCLUDE_SWIFT_SWIFT_REMOTE_MIRROR" Name="SwiftRemoteMirror">
                            </Directory>
                          </Directory>
                          <Directory Id="USR_INCLUDE_BLOCK" Name="Block">
                          </Directory>
                        </Directory>
                        <Directory Id="USR_LIB" Name="lib">
                          <Directory Id="USR_LIB_SWIFT" Name="swift">
                            <Directory Id="USR_LIB_SWIFT_CFURLSESSIONINTERFACE" Name="CFURLSessionInterface">
                            </Directory>
                            <Directory Id="USR_LIB_SWIFT_CFXMLINTERFACE" Name="CFXMLInterface">
                            </Directory>
                            <Directory Id="USR_LIB_SWIFT_COREFOUNDATION" Name="CoreFoundation">
                            </Directory>
                            <Directory Id="USR_LIB_SWIFT_WINDOWS" Name="windows">
                              <Directory Id="USR_LIB_SWIFT_WINDOWS_X86_64" Name="x86_64">
                              </Directory>
                            </Directory>
                          </Directory>
                        </Directory>
                        <Directory Id="USR_SHARE" Name="share">
                        </Directory>
                      </Directory>
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="XCTEST_USR_BIN">
      <Component Id="XCTEST_RUNTIME" Guid="dab15168-27b8-449f-aba9-ae22b93cb681">
        <File Id="XCTEST_DLL" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\bin\XCTest.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XCTEST_USR_LIB_SWIFT_WINDOWS">
      <Component Id="XCTEST_IMPORT_LIBS" Guid="d513ee1e-d7c0-4579-b776-bcc90213bea9">
        <File Id="XCTEST_LIB" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\XCTest.lib" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XCTEST_USR_LIB_SWIFT_WINDOWS_X86_64">
      <Component Id="XCTEST_SWIFT_MODULES" Guid="4a5bfa61-727e-448d-8cf6-069b627eee65">
        <File Id="XCTEST_SWIFTDOC" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\x86_64\XCTest.swiftdoc" />
        <File Id="XCTEST_SWIFTMODULE" Source="$(var.PLATFORM_ROOT)\Developer\Library\XCTest-development\usr\lib\swift\windows\x86_64\XCTest.swiftmodule" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB_SWIFT_WINDOWS">
      <Component Id="BLOCKS_RUNTIME_IMPORT_LIBS" Guid="8eb97bfc-2559-4f4d-a3d6-864097f6dfb4">
        <File Id="BLOCKS_RUNTIME_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\BlocksRuntime.lib" />
      </Component>

      <Component Id="FOUNDATION_IMPORT_LIBS" Guid="5eeb293f-19dd-4131-982b-8c7f0331e2e2">
        <File Id="FOUNDATION_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\Foundation.lib" />
        <File Id="FOUNDATION_NETWORKING_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\FoundationNetworking.lib" />
        <File Id="FOUNDATION_XML_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\FoundationXML.lib" />
      </Component>

      <Component Id="DISPATCH_IMPORT_LIBS" Guid="95063ff6-c2d2-4892-bc0f-b046a8abce79">
        <File Id="DISPATCH_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\dispatch.lib" />
        <File Id="SWIFT_DISPATCH_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\swiftDispatch.lib" />
      </Component>

      <Component Id="SWIFT_IMPORT_LIBS" Guid="0823f52b-1e2a-4eb5-a180-dc2ca61aecf9">
        <File Id="SWIFT_CORE_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftCore.lib" />
        <File Id="SWIFT_SWIFT_ONONE_SUPPORT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftSwiftOnoneSupport.lib" />
      </Component>

      <Component Id="SDK_OVERLAY_IMPORT_LIBS" Guid="ffba6437-f4c2-4ea6-876e-241579541535">
        <File Id="SWIFT_MSVCRT_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftMSVCRT.lib" />
        <File Id="SWIFT_WINSDK_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftWinSDK.lib" />
      </Component>

      <Component Id="SWIFT_REMOTE_MIRROR_IMPORT_LIBS" Guid="">
        <File Id="SWIFT_REMOTE_MIRROR_LIB" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftRemoteMirror.lib" />
      </Component>

      <Component Id="REGISTRAR" Guid="a42e4007-33b4-4392-92a3-4ffaaee66e32">
        <File Id="SWIFTRT_OBJ" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\swiftrt.obj" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_SWIFT_SWIFT_REMOTE_MIRROR">
      <Component Id="SWIFT_REMOTE_MIRROR_HEADERS" Guid="9b474f4c-10e1-427c-8994-72bd6137583a">
        <File Id="MEMORY_READER_INTERFACE_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\MemoryReaderInterface.h" />
        <File Id="PLATFORM_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\Platform.h" />
        <File Id="SWIFT_REMOTE_MIRROR_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\SwiftRemoteMirror.h" />
        <File Id="SWIFT_REMOTE_MIRROR_TYPES_H" Source="$(var.SDK_ROOT)\usr\include\swift\SwiftRemoteMirror\SwiftRemoteMirrorTypes.h" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_BLOCK">
      <Component Id="BLOCKS_RUNTIME_HEADERS" Guid="ae1605d2-65e2-4b9d-b421-38ff9c639357">
        <File Id="BLOCK_H" Source="$(var.SDK_ROOT)\usr\lib\swift\Block\Block.h" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_DISPATCH">
      <Component Id="DISPATCH_DISPATCH_HEADERS" Guid="0d2e3f08-8593-49d3-9048-767327aa7b0b">
        <File Id="BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\base.h" />
        <File Id="DISPATCH_BLOCK_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\block.h" />
        <File Id="DATA_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\data.h" />
        <File Id="DISPATCH_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\dispatch.h" />
        <File Id="GROUP_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\group.h" />
        <File Id="INTROSPECTION_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\introspection.h" />
        <File Id="IO_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\io.h" />
        <File Id="DISPATCH_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\module.modulemap" />
        <File Id="DISPATCH_OBJECT_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\object.h" />
        <File Id="ONCE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\once.h" />
        <File Id="QUEUE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\queue.h" />
        <File Id="SEMAPHORE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\semaphore.h" />
        <File Id="SOURCE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\source.h" />
        <File Id="TIME_H" Source="$(var.SDK_ROOT)\usr\lib\swift\dispatch\time.h" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_OS">
      <Component Id="DISPATCH_OS_HEADERS" Guid="cad5a627-bee2-401b-bd7e-1f07662cb46e">
        <File Id="GENERIC_UNIX_BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\generic_unix_base.h" />
        <File Id="GENERIC_WIN_BASE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\generic_win_base.h" />
        <File Id="OS_OBJECT_H" Source="$(var.SDK_ROOT)\usr\lib\swift\os\object.h" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB_SWIFT_WINDOWS_X86_64">
      <Component Id="DISPATCH" Guid="b2817a08-7fb3-4adc-8dc5-a6e950e5df39">
        <File Id="DISPATCH_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Dispatch.swiftdoc" />
        <File Id="DISPATCH_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Dispatch.swiftmodule" />
      </Component>

      <Component Id="FOUNDATION" Guid="66a6b1d6-f3a5-4894-baa7-1ae45894895a">
        <File Id="FOUNDATION_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Foundation.swiftdoc" />
        <File Id="FOUNDATION_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Foundation.swiftmodule" />
        <File Id="FOUNDATION_NETWORKING_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationNetworking.swiftdoc" />
        <File Id="FOUNDATION_NETWORKING_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationNetworking.swiftmodule" />
        <File Id="FOUNDATION_XML_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationXML.swiftdoc" />
        <File Id="FOUNDATION_XML_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\FoundationXML.swiftmodule" />
      </Component>

      <Component Id="SWIFT" Guid="0a57bda0-d988-4b38-a763-570d192e9e85">
        <File Id="SWIFT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftdoc" />
        <File Id="SWIFT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftinterface" />
        <File Id="SWIFT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\Swift.swiftmodule" />

        <File Id="SWIFT_ONONE_SUPPORT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftdoc" />
        <File Id="SWIFT_ONONE_SUPPORT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftinterface" />
        <File Id="SWIFT_ONONE_SUPPORT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftmodule" />
      </Component>

      <Component Id="SDK_OVERLAY" Guid="18fa0c8d-80d9-45a7-9da7-36f953183bcd">
        <File Id="MSVCRT_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftdoc" />
        <File Id="MSVCRT_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftinterface" />
        <File Id="MSVCRT_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\MSVCRT.swiftmodule" />

        <File Id="WINSDK_SWIFTDOC" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftdoc" />
        <File Id="WINSDK_SWIFTINTERFACE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftinterface" />
        <File Id="WINSDK_SWIFTMODULE" Source="$(var.SDK_ROOT)\usr\lib\swift\windows\x86_64\WinSDK.swiftmodule" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB_SWIFT_CFURLSESSIONINTERFACE">
      <Component Id="CFURLSESSIONINTERFACE_HEADERS" Guid="d908f6f0-066a-4c9f-9af6-870009ff7744">
        <File Id="CFURLSESSIONINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\CFURLSessionInterface.h" />
        <File Id="CFURLSESSIONINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFURLSessionInterface\module.map" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB_SWIFT_CFXMLINTERFACE">
      <Component Id="CFXMLINTERFACE_HEADERS" Guid="5450a487-2d3f-4390-9f3c-52a545569636">
        <File Id="CFXMLINTERFACE_H" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\CFXMLInterface.h" />
        <File Id="CFXMLINTERFACE_MODULE_MODULEMAP" Source="$(var.SDK_ROOT)\usr\lib\swift\CFXMLInterface\module.map" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_SHARE">
      <Component Id="WINDOWS_MODULE_MAPS_AND_APINOTES" Guid="4b02494d-d425-45f1-8b38-da0c247f1491">
        <File Id="UCRT_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\ucrt.modulemap" />
        <File Id="WINSDK_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\winsdk.modulemap" />
        <File Id="VISUALC_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.modulemap" />
        <File Id="VISUALC_APINOTES" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.apinotes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DISPATCH_HEADERS">
      <ComponentRef Id="DISPATCH_DISPATCH_HEADERS" />
      <ComponentRef Id="DISPATCH_OS_HEADERS" />
    </ComponentGroup>

    <!-- Features -->
    <Feature Id="SDK" Level="1">
      <ComponentRef Id="XCTEST_RUNTIME" />
      <ComponentRef Id="XCTEST_IMPORT_LIBS" />
      <ComponentRef Id="XCTEST_SWIFT_MODULES" />

      <ComponentRef Id="BLOCKS_RUNTIME_HEADERS" />
      <ComponentRef Id="BLOCKS_RUNTIME_IMPORT_LIBS" />

      <ComponentRef Id="DISPATCH" />
      <ComponentGroupRef Id="DISPATCH_HEADERS" />
      <ComponentRef Id="DISPATCH_IMPORT_LIBS" />

      <ComponentRef Id="FOUNDATION" />
      <ComponentGroupRef Id="COREFOUNDATION_HEADERS" />
      <ComponentRef Id="CFURLSESSIONINTERFACE_HEADERS" />
      <ComponentRef Id="CFXMLINTERFACE_HEADERS" />
      <ComponentRef Id="FOUNDATION_IMPORT_LIBS" />

      <ComponentRef Id="SWIFT" />
      <ComponentRef Id="SWIFT_IMPORT_LIBS" />

      <ComponentRef Id="SDK_OVERLAY" />
      <ComponentRef Id="SDK_OVERLAY_IMPORT_LIBS" />

      <ComponentRef Id="SWIFT_REMOTE_MIRROR_HEADERS" />
      <ComponentRef Id="SWIFT_REMOTE_MIRROR_IMPORT_LIBS" />

      <ComponentRef Id="REGISTRAR" />

      <ComponentRef Id="WINDOWS_MODULE_MAPS_AND_APINOTES" />
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
