<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="dt.compnerd.org"
           Name="ICU"
           UpgradeCode="c16b17e8-b3a3-4674-984e-deb1d1c3ed33"
           Version="64.1">
    <Package Comments="Copyright 2020 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;"
             Compressed="yes"
             Description="ICU"
             InstallScope="perMachine"
             Manufacturer="dt.compnerd.org" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="icu.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="ICU" Name="icu-64">
            <Directory Id="ICU_USR" Name="usr">
              <Directory Id="ICU_USR_BIN" Name="bin">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="ICU_USR_BIN">
      <Component Id="ICU_RUNTIME" Guid="af2bccab-70c7-41cd-9ec6-a265f79c0d63">
        <File Id="ICUDT64_DLL" Source="$(var.ICU_ROOT)\Library\icu-64\usr\bin\icudt64.dll" Checksum="yes" />
        <File Id="ICUIN64_DLL" Source="$(var.ICU_ROOT)\Library\icu-64\usr\bin\icuin64.dll" Checksum="yes" />
        <File Id="ICUUC64_DLL" Source="$(var.ICU_ROOT)\Library\icu-64\usr\bin\icuuc64.dll" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="ENV_VARS" Guid="0138a205-109c-49ca-878b-bd533eb0fd05">
        <Environment Id="PATH" Action="set" Name="PATH" Part="last" Permanent="no" System="yes" Value="[WindowsVolume]Library\icu-64\usr\bin" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="RUNTIME" Level="1">
      <ComponentRef Id="ICU_RUNTIME" />
      <ComponentRef Id="ENV_VARS" />
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
