<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?if $(var.TENSORFLOW) = true ?>
    <?define Title = "Swift for TensorFlow" ?>
    <?define Logo = "Resources/TensorFlow.png" ?>
  <?else?>
    <?define Title = "Swift" ?>
    <?define Logo = "Resources/Swift.png" ?>
  <?endif?>

  <Bundle Name="$(var.Title)"
          Version="0.0.0.0"
          Manufacturer="dt.compnerd.org"
          UpgradeCode="d280bb3c-01ab-4385-b70b-bcaa88f520f8">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        LogoFile="$(var.Logo)"
        SuppressOptionsUI="yes"
        SuppressRepair="no" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\toolchain.msi" Compressed="yes">
        <MsiProperty Name="INSTALL_DEBUGINFO" Value="[INSTALL_DEBUGINFO]" />
      </MsiPackage>
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\sdk.msi" Compressed="yes" />
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\runtime.msi" Compressed="yes" />
      <MsiPackage SourceFile="$(var.MSI_LOCATION)\icu.msi" Compressed="yes" />
      <?if $(var.DEVTOOLS) = true ?>
        <MsiPackage SourceFile="$(var.MSI_LOCATION)\devtools.msi" Compressed="yes" />
      <?endif?>
      <?if $(var.TENSORFLOW) = true ?>
        <MsiPackage SourceFile="$(var.MSI_LOCATION)\tensorflow.msi" Compressed="yes" />
      <?endif?>
    </Chain>
  </Bundle>
</Wix>
