name: Pull Request - Development Snapshot (Cirun)

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/swift-toolchain.yml'
      - '.github/workflows/pull-request-swift-toolchain-cirun.yml'

  workflow_dispatch:

jobs:
  call_development_snapshot:
    if: vars.USE_CIRUN == 'true'
    name: Development Snapshot
    uses: ./.github/workflows/swift-toolchain.yml
    with:
      create_release: false
      default_runner: "cirun-win11-23h2-pro-x64-16-2024-05-17"
      compilers_runner: "cirun-win11-23h2-pro-x64-64-2024-05-17"
      android_api_level: 28
    secrets: inherit
    permissions:
      contents: read
      pull-requests: read

