name: Pull Request - Development Snapshot (GitHub)

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/swift-toolchain.yml'
      - '.github/workflows/pull-request-swift-toolchain-github.yml'

  workflow_dispatch:

jobs:
  call_development_snapshot:
    name: Development Snapshot
    uses: ./.github/workflows/build-toolchain.yml
    with:
      # Source/Repository Configuration
      ci_build_branch: ${{ github.ref }}
      # Build Configuration
      android_api_level: 28
      # Output/Publishing
      create_release: false
      # Infrastructure/Runners
      windows_x64_default_runner: "swift-build-windows-latest-8-cores"
      windows_x64_compilers_runner: "swift-build-windows-latest-64-cores"
      windows_arm64_default_runner: "swift-build-windows-arm64-latest-8-cores"
      windows_arm64_compilers_runner: "swift-build-windows-arm64-latest-32-cores"
    secrets: inherit
    permissions:
      attestations: write
      contents: read
      pull-requests: read
      id-token: write

