name: Pull Request - Development Snapshot (Cirun)

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '.cirun.yml'
      - '.github/workflows/swift-toolchain.yml'
      - '.github/workflows/pull-request-swift-toolchain-cirun.yml'

  workflow_dispatch:

jobs:
  call_development_snapshot:
    if: vars.USE_CIRUN == 'true'
    name: Development Snapshot
    uses: ./.github/workflows/build-toolchain.yml
    with:
      create_release: false
      windows_x64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-x64-16--{0}', github.run_id) || 'swift-build-windows-2025-8-cores' }}
      windows_x64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-x64-64--{0}', github.run_id) || 'swift-build-windows-2025-64-cores' }}
      windows_arm64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-arm64-16--{0}', github.run_id) || 'swift-build-windows-arm64-latest-8-cores' }}
      windows_arm64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-arm64-64--{0}', github.run_id) || 'swift-build-windows-arm64-latest-32-cores' }}
      android_api_level: 28
    secrets: inherit
    permissions:
      attestations: write
      contents: read
      pull-requests: read
      id-token: write

