name: Release 6.1 Toolchains

on:
  workflow_dispatch:
  # Schedule to build a new release toolchain nightly.
  schedule:
    - cron: "10 0 * * */1"

jobs:
  # Each job builds a release toolchain for a specific Swift version.
  build-release-6_1:
    # Note: GitHub requires the use of an 'owner/repo' path before the
    # workflow file path when we want to use a workflow from another branch.
    uses: thebrowsercompany/swift-build/.github/workflows/build-toolchain.yml@release/6.1
    with:
      windows_build_arch: amd64
      windows_x64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-x64-16-2025-03-13--{0}', github.run_id) || 'swift-build-windows-latest-8-cores' }}
      windows_x64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-x64-64-2025-03-13--{0}', github.run_id) || 'swift-build-windows-latest-64-cores' }}
      windows_arm64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-arm64-16-2025-03-13--{0}', github.run_id) || 'swift-build-windows-arm64-latest-8-cores' }}
      windows_arm64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-arm64-64-2025-03-13--{0}', github.run_id) || 'swift-build-windows-arm64-latest-32-cores' }}
      android_api_level: 28
    secrets:
      SYMBOL_SERVER_PAT: ${{ secrets.SYMBOL_SERVER_PAT }}
      CERTIFICATE: ${{ secrets.CERTIFICATE }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
