name: Release 6.0 Toolchains

on:
  workflow_dispatch:
  # Schedule to build a new release toolchain nightly.
  schedule:
    - cron: "10 0 * * */1"

jobs:
  # Each job builds a release toolchain for a specific Swift version.
  build-release-6_0:
    # Note: GitHub requires the use of an 'owner/repo' path before the
    # workflow file path when we want to use a workflow from another branch.
    uses: thebrowsercompany/swift-build/.github/workflows/build-toolchain.yml@release/6.0
    permissions:
      contents: read
      # required to make OIDC work
      id-token: write
    with:
      create_release: true
      windows_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-x64-16-2024-12-19--{0}', github.run_id) || 'swift-build-windows-latest-8-cores' }}
      windows_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-23h2-pro-x64-64-2024-12-19--{0}', github.run_id) || 'swift-build-windows-latest-64-cores' }}
      android_api_level: 28
    secrets:
      SYMBOL_SERVER_PAT: ${{ secrets.SYMBOL_SERVER_PAT }}
      CERTIFICATE: ${{ secrets.CERTIFICATE }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
      SCCACHE_ACCESS_ARN: ${{ secrets.SCCACHE_ACCESS_ARN }}
