name: Release Toolchains

on:
  workflow_dispatch:
  schedule:
    - cron: "10 0 * * */1"

jobs:
  # Each job builds a release toolchain for a specific Swift version.
  build-release-6_0:
    # Note: GitHub requires the use of an 'owner/repo' path before the
    # workflow file path when we want to use a workflow from another branch.
    uses: compnerd/swift-build/.github/workflows/swift-toolchain.yml@release/6.0
    secrets:
      SYMBOL_SERVER_PAT: ${{ secrets.SYMBOL_SERVER_PAT }}
      CERTIFICATE: ${{ secrets.CERTIFICATE }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
