name: Schedule - Development Snapshot

on:
  schedule:
    - cron: "0 */6 * * *"

  # Allows us to trigger toolchain builds on-demand using the same inputs as scheduled builds.
  # For more control over the swift-toolchain.yml's inputs, trigger that workflow directly.
  workflow_dispatch:

jobs:
  call_development_snapshot:
    name: Development Snapshot
    uses: ./.github/workflows/swift-toolchain.yml
    with:
      create_release: true
      default_runner: ${{ vars.USE_CIRUN == 'true' && 'cirun-win11-23h2-pro-x64-16-2024-05-17' || 'swift-build-windows-latest-8-cores' }}
      compilers_runner: ${{ vars.USE_CIRUN == 'true' && 'cirun-win11-23h2-pro-x64-64-2024-05-17' || 'swift-build-windows-latest-64-cores' }}
      android_api_level: 28
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write

