name: Schedule - Development Snapshot Windows ARM64

on:
  schedule:
    - cron: "0 */6 * * *"

  # Allows us to trigger toolchain builds on-demand using the same inputs as scheduled builds.
  # For more control over the swift-toolchain.yml's inputs, trigger that workflow directly.
  workflow_dispatch:

jobs:
  call_development_snapshot:
    name: Development Snapshot
    uses: ./.github/workflows/build-toolchain.yml
    with:
      # Source/Repository Configuration
      ci_build_branch: ${{ github.ref }}
      # Build Configuration
      windows_build_arch: arm64
      build_android: false
      android_api_level: 28
      # Output/Publishing
      create_release: false
      create_snapshot: false
      # Infrastructure/Runners
      windows_x64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-x64-16--{0}', github.run_id) || 'swift-build-windows-latest-8-cores' }}
      windows_x64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-x64-64--{0}', github.run_id) || 'swift-build-windows-latest-64-cores' }}
      windows_arm64_default_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-arm64-16--{0}', github.run_id) || 'swift-build-windows-arm64-latest-8-cores' }}
      windows_arm64_compilers_runner: ${{ vars.USE_CIRUN == 'true' && format('cirun-win11-pro-arm64-64--{0}', github.run_id) || 'swift-build-windows-arm64-latest-32-cores' }}
    secrets: inherit
    permissions:
      attestations: write
      contents: write
      packages: write
      id-token: write
