name: SwiftLint

on:
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-2025

    strategy:
      matrix:
        include:
          - branch: development
            tag: DEVELOPMENT-SNAPSHOT-2024-02-08-a

    steps:
      # Build
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: ${{ github.workspace }}/SourceCache/SwiftLint
          ref: refs/heads/compnerd/windows
          repository: thebrowsercompany/SwiftLint

      - uses: compnerd/gha-setup-swift@main
        with:
          branch: ${{ matrix.branch }}
          tag: ${{ matrix.tag }}

      # TODO(compnerd) this requires linker main renaming which is not supported
      # - name: test
      #   run: swift test

      - name: build
        run: swift build --package-path ${{ github.workspace }}/SourceCache/SwiftLint --scratch-path ${{ github.workspace }}/BinaryCache/SwiftLint -c release -Xswiftc -gnone -Xcc -g0

      # Package
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          ref: ${{ env.GITHUB_REF }}
          path: ${{ github.workspace }}/SourceCache/swift-build

      - uses: microsoft/setup-msbuild@v1.3.1

      - name: package
        run: msbuild ${{ github.workspace }}/SourceCache/swift-build/platforms/Windows/SwiftLint.wixproj -nologo -restore -p:Configuration=Release -p:RedistributablesDirectory="${env:SDKROOT}\..\..\..\..\..\..\Redistributables\0.0.0" -p:SWIFT_LINT_BUILD=${{ github.workspace }}\BinaryCache\SwiftLint\x86_64-unknown-windows-msvc\release -p:OutputPath=${{ github.workspace }}\BinaryCache\artifacts -p:RunWixToolsOutOfProc=true

      # Release
      - run: |
          $BINARY_CACHE = cygpath -m ${{ github.workspace }}\BinaryCache
          Write-Output "BINARY_CACHE=${BINARY_CACHE}" | Out-File -FilePath ${env:GITHUB_ENV} -Encoding utf8 -Append

      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: true
          name: SwiftLint-${{ matrix.tag }}
          tag_name: SwiftLint-${{ matrix.tag }}
          files: |
            ${{ env.BINARY_CACHE }}/SwiftLint/x86_64-unknown-windows-msvc/release/swiftlint.exe
            ${{ env.BINARY_CACHE }}/artifacts/SwiftLint.msi
