<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Windows Swift SDK for x86_64" Language="1033" Version="0.0.0.0" Manufacturer="dt.compnerd.org" UpgradeCode="c16b17e8-b3a3-4674-984e-deb1d1c3ed33">
    <Package Compressed="yes" InstallScope="perMachine" Manufacturer="dt.compnerd.org" Description="Windows Swift SDK for x86_64" Comments="Copyright 2019 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="WindowsSDK.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="LIBRARY_DEVELOPER" Name="Developer">
            <Directory Id="PLATFORMS" Name="Platforms">
              <Directory Id="WINDOWS_PLATFORM" Name="Windows.platform">
                <Directory Id="PLATFORM_DEVELOPER" Name="Developer">
                  <Directory Id="SDKs" Name="SDKs">
                    <Directory Id="WINDOWS_SDK" Name="Windows.sdk">
                      <Directory Id="USR" Name="usr">
                        <Directory Id="LIB" Name="lib">
                          <Directory Id="SWIFT" Name="swift">
                            <Directory Id="WINDOWS" Name="windows">
                              <Directory Id="X86_64" Name="x86_64">
                              </Directory>
                            </Directory>
                          </Directory>
                        </Directory>
                        <Directory Id="SHARE" Name="share">
                        </Directory>
                      </Directory>
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="SHARE">
      <Component Id="WINDOWS_MODULE_MAPS_AND_APINOTES" Guid="4b02494d-d425-45f1-8b38-da0c247f1491">
        <File Id="UCRT_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\ucrt.modulemap" />
        <File Id="WINSDK_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\winsdk.modulemap" />
        <File Id="VISUALC_MODULEMAP" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.modulemap" />
        <File Id="VISUALC_APINOTES" Source="$(var.SWIFT_SOURCE_DIR)\stdlib\public\Platform\visualc.apinotes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="X86_64">
      <Component Id="WINDOWS_X86_64_SWIFT_DOCS" Guid="a34a1c91-92f0-4f81-b31c-0247e3a252e3">
        <File Id="MSVCRT_SWIFTDOC" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\MSVCRT.swiftdoc" Checksum="yes" />
        <File Id="SWIFT_SWIFTDOC" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\Swift.swiftdoc" Checksum="yes" />
        <File Id="SWIFTONONESUPPORT_SWIFTDOC" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftdoc" Checksum="yes" />
        <File Id="SIMDOPERATORS_SWIFTDOC" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SIMDOperators.swiftdoc" Checksum="yes" />
        <File Id="WINSDK_SWIFTDOC" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\WinSDK.swiftdoc" Checksum="yes" />
      </Component>
      <Component Id="WINDOWS_X86_64_SWIFT_INTERFACES" Guid="8bb4a53b-e008-47f8-af66-8c458f10af44">
        <File Id="MSVCRT_SWIFTINTERFACE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\MSVCRT.swiftinterface" Checksum="yes" />
        <File Id="SWIFT_SWIFTINTERFACE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\Swift.swiftinterface" Checksum="yes" />
        <File Id="SWIFTONONESUPPORT_SWIFTINTERFACE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftinterface" Checksum="yes" />
        <File Id="SIMDOPERATORS_SWIFTINTERFACE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SIMDOperators.swiftinterface" Checksum="yes" />
        <File Id="WINSDK_SWIFTINTERFACE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\WinSDK.swiftinterface" Checksum="yes" />
      </Component>
      <Component Id="WINDOWS_X86_64_SWIFT_MODULES" Guid="458bda65-335f-4cb4-9dcb-75a486475277">
        <File Id="MSVCRT_SWIFTMODULE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\MSVCRT.swiftmodule" Checksum="yes" />
        <File Id="SWIFT_SWIFTMODULE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\Swift.swiftmodule" Checksum="yes" />
        <File Id="SWIFTONONESUPPORT_SWIFTMODULE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SwiftOnoneSupport.swiftmodule" Checksum="yes" />
        <File Id="SIMDOPERATORS_SWIFTMODULE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\SIMDOperators.swiftmodule" Checksum="yes" />
        <File Id="WINSDK_SWIFTMODULE" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\WinSDK.swiftmodule" Checksum="yes" />
      </Component>
      <Component Id="WINDOWS_X86_64_SWIFT_IMPLIBS" Guid="1aa87ec5-afb9-4ee5-8d0c-0ab146a1fffb">
        <File Id="SWIFTCORE_LIB" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\swiftCore.lib" Checksum="yes" />
        <File Id="SWIFTMSVCRT_LIB" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\swiftMSVCRT.lib" Checksum="yes" />
        <File Id="SWIFTSIMDOPERATORS_LIB" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\swiftSIMDOperators.lib" Checksum="yes" />
        <File Id="SWIFTSWIFTONONESUPPORT_LIB" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\swiftSwiftOnoneSupport.lib" Checksum="yes" />
        <File Id="SWIFTWINSDK_LIB" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\windows\x86_64\swiftWinSDK.lib" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="SDK" Level="1">
      <ComponentRef Id="WINDOWS_X86_64_SWIFT_DOCS" />
      <ComponentRef Id="WINDOWS_X86_64_SWIFT_IMPLIBS" />
      <ComponentRef Id="WINDOWS_X86_64_SWIFT_INTERFACES" />
      <ComponentRef Id="WINDOWS_X86_64_SWIFT_MODULES" />
      <ComponentRef Id="WINDOWS_MODULE_MAPS_AND_APINOTES" />
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
