<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Toolchain" Language="1033" Version="0.0.0.0" Manufacturer="dt.compnerd.org" UpgradeCode="bed47738-52ef-4af7-a47b-b81cf238e0c8">
    <Package Compressed="yes" InstallScope="perMachine" Manufacturer="dt.compnerd.org" Description="Toolchain" Comments="Copyright 2019 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="toolchain.cab" EmbedCab="yes" />
    <Media Id="2" Cabinet="Clang_PDBs.cab" EmbedCab="yes" />
    <Media Id="3" Cabinet="LLDB_PDBs.cab" EmbedCab="yes" />
    <Media Id="4" Cabinet="LLVM_PDBs.cab" EmbedCab="yes" />
    <Media Id="5" Cabinet="Swift_PDBs.cab" EmbedCab="yes" />
    <Media Id="6" Cabinet="SourceKit_PDBs.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="DEVELOPER" Name="Developer">
            <Directory Id="TOOLCHAINS" Name="Toolchains">
              <Directory Id="UNKNOWN_ASSERTS_DEVELOPMENT_XCTOOLCHAIN" Name="unknown-Asserts-development.xctoolchain">
                <Directory Id="USR" Name="usr">
                  <Directory Id="USR_BIN" Name="bin">
                  </Directory>
                  <Directory Id="USR_INCLUDE" Name="include">
                    <Directory Id="USR_INCLUDE_CLANG_C" Name="clang-c">
                    </Directory>
                    <Directory Id="USR_INCLUDE_DISPATCH" Name="dispatch">
                    </Directory>
                    <Directory Id="USR_INCLUDE_LLDB" Name="lldb">
                    </Directory>
                    <Directory Id="USR_INCLUDE_LLVM_C" Name="llvm-c">
                    </Directory>
                    <Directory Id="USR_INCLUDE_OS" Name="os">
                    </Directory>
                    <Directory Id="USR_INCLUDE_SWIFT" Name="swift">
                      <Directory Id="USR_INCLUDE_SWIFT_SWIFT_REMOTE_MIRROR" Name="SwiftRemoteMirror">
                      </Directory>
                    </Directory>
                    <Directory Id="USR_INCLUDE_SOURCEKIT" Name="SourceKit">
                    </Directory>
                  </Directory>
                  <Directory Id="USR_LIB" Name="lib">
                    <Directory Id="USR_LIB_CLANG" Name="clang">
                    </Directory>
                    <Directory Id="USR_LIB_SWIFT" Name="swift">
                      <Directory Id="USR_LIB_SWIFT_MIGRATOR" Name="migrator">
                      </Directory>
                      <Directory Id="USR_LIB_SWIFT_SHIMS" Name="shims">
                      </Directory>
                    </Directory>
                  </Directory>
                  <Directory Id="USR_LIBEXEC" Name="libexec">
                  </Directory>
                  <Directory Id="USR_SHARE" Name="share">
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="USR_BIN">
      <Component Id="TOOLCHAIN_BINS" Guid="fe60ec54-8e12-47c4-baed-b3834497d266">
        <!-- clang -->
        <File Id="CLANG_CL_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-cl.exe" Checksum="yes" />
        <File Id="CLANG_CPP_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-cpp.exe" Checksum="yes" />
        <File Id="CLANG_FORMAT_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-format.exe" Checksum="yes" />
        <File Id="CLANG_OFFLOAD_BUNDLER_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-offload-bundler.exe" Checksum="yes" />
        <File Id="CLANG_REFACTOR_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-refactor.exe" Checksum="yes" />
        <File Id="CLANG_RENAME_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang-rename.exe" Checksum="yes" />
        <File Id="CLANG_EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang.exe" Checksum="yes" />
        <File Id="CLANG____EXE" Source="$(var.CLANG_BUILD_DIR)\bin\clang++.exe" Checksum="yes" />
        <File Id="LIBCLANG_DLL" Source="$(var.CLANG_BUILD_DIR)\bin\libclang.dll" Checksum="yes" />
        <File Id="LIBINDEXSTORE_DLL" Source="$(var.CLANG_BUILD_DIR)\bin\libIndexStore.dll" Checksum="yes" />
        <File Id="OPTREMARKS_DLL" Source="$(var.CLANG_BUILD_DIR)\bin\OptRemarks.dll" Checksum="yes" />
        <File Id="SCAN_BUILD" Source="$(var.CLANG_BUILD_DIR)\bin\scan-build" Checksum="yes" />
        <File Id="SCAN_BUILD_BAT" Source="$(var.CLANG_BUILD_DIR)\bin\scan-build.bat" Checksum="yes" />
        <File Id="SCAN_VIEW" Source="$(var.CLANG_BUILD_DIR)\bin\scan-view" Checksum="yes" />
        <!-- lldb -->
        <File Id="LIBLLDB_DLL" Source="$(var.LLDB_BUILD_DIR)\bin\liblldb.dll" Checksum="yes" />
        <File Id="LLDB_ARGDUMPER_EXE" Source="$(var.LLDB_BUILD_DIR)\bin\lldb-argdumper.exe" Checksum="yes" />
        <File Id="LLDB_MI_EXE" Source="$(var.LLDB_BUILD_DIR)\bin\lldb-mi.exe" Checksum="yes" />
        <File Id="LLDB_EXE" Source="$(var.LLDB_BUILD_DIR)\bin\lldb.exe" Checksum="yes" />
        <!-- llvm -->
        <File Id="DSYMUTIL_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\dsymutil.exe" Checksum="yes" />
        <File Id="LLVM_AR_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-ar.exe" Checksum="yes" />
        <File Id="LLVM_COV_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cov.exe" Checksum="yes" />
        <File Id="LLVM_CVTRES_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cvtres.exe" Checksum="yes" />
        <File Id="LLVM_CXXFILT_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cxxfilt.exe" Checksum="yes" />
        <File Id="LLVM_DLLTOOL_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-dlltool.exe" Checksum="yes" />
        <File Id="LLVM_DWP_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-dwp.exe" Checksum="yes" />
        <File Id="LLVM_LIB_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-lib.exe" Checksum="yes" />
        <File Id="LLVM_MT_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-mt.exe" Checksum="yes" />
        <File Id="LLVM_NM_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-nm.exe" Checksum="yes" />
        <File Id="LLVM_OBJDUMP_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-objdump.exe" Checksum="yes" />
        <File Id="LLVM_PDBUTIL_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-pdbutil.exe" Checksum="yes" />
        <File Id="LLVM_PROFDATA_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-profdata.exe" Checksum="yes" />
        <File Id="LLVM_RANLIB_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-ranlib.exe" Checksum="yes" />
        <File Id="LLVM_RC_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-rc.exe" Checksum="yes" />
        <File Id="LLVM_READELF_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-readelf.exe" Checksum="yes" />
        <File Id="LLVM_READOBJ_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-readobj.exe" Checksum="yes" />
        <File Id="LLVM_SIZE_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-size.exe" Checksum="yes" />
        <File Id="LLVM_SYMBOLIZER_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-symbolizer.exe" Checksum="yes" />
        <File Id="LLVM_UNDNAME_EXE" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-undname.exe" Checksum="yes" />
        <File Id="LTO_DLL" Source="$(var.LLVM_BUILD_DIR)\bin\LTO.dll" Checksum="yes" />
        <!-- swift -->
        <File Id="SWIFT_AUTOLINK_EXTRACT_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-autolink-extract.exe" Checksum="yes" />
        <File Id="SWIFT_DEMANGLE_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-demangle.exe" Checksum="yes" />
        <File Id="SWIFT_FORMAT_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-format.exe" Checksum="yes" />
        <File Id="SWIFT_REFACTOR_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-refactor.exe" Checksum="yes" />
        <File Id="SWIFT_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swift.exe" Checksum="yes" />
        <File Id="SWIFTC_EXE" Source="$(var.SWIFT_BUILD_DIR)\bin\swiftc.exe" Checksum="yes" />
        <File Id="SWIFTDEMANGLE_DLL" Source="$(var.SWIFT_BUILD_DIR)\bin\swiftDemangle.dll" Checksum="yes" />
        <File Id="SWIFTREMOTEMIRROR_DLL" Source="$(var.SWIFT_BUILD_DIR)\bin\swiftRemoteMirror.dll" Checksum="yes" />
        <!-- sourcekit -->
        <File Id="BLOCKSRUNTIME_DLL" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\bin\BlocksRuntime.dll" Checksum="yes" />
        <File Id="DISPATCH_DLL" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\bin\dispatch.dll" Checksum="yes" />
        <File Id="SOURCEKITDINPROC_DLL" Source="$(var.SWIFT_BUILD_DIR)\bin\sourcekitdInProc.dll" Checksum="yes" />
      </Component>

      <Component Id="TOOLCHAIN_DEBUGINFO" Guid="980da27d-ac18-4a7a-8f21-1ea571d12f7d">
        <!-- clang -->
        <File Id="CLANG_FORMAT_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\clang-format.pdb" Checksum="yes" DiskId="2" />
        <File Id="CLANG_OFFLOAD_BUNDLER_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\clang-offload-bundler.pdb" Checksum="yes" DiskId="2" />
        <File Id="CLANG_REFACTOR_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\clang-refactor.pdb" Checksum="yes" DiskId="2" />
        <File Id="CLANG_RENAME_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\clang-rename.pdb" Checksum="yes" DiskId="2" />
        <File Id="CLANG_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\clang.pdb" Checksum="yes" DiskId="2" />
        <File Id="LIBCLANG_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\libclang.pdb" Checksum="yes" DiskId="2" />
        <File Id="LIBINDEXSTORE_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\libIndexStore.pdb" Checksum="yes" DiskId="2" />
        <File Id="OPTREMARKS_PDB" Source="$(var.CLANG_BUILD_DIR)\bin\OptRemarks.pdb" Checksum="yes" DiskId="2" />
        <!-- lldb -->
        <File Id="LIBLLDB_PDB" Source="$(var.LLDB_BUILD_DIR)\bin\liblldb.pdb" Checksum="yes" DiskId="3" />
        <File Id="LLDB_ARGDUMPER_PDB" Source="$(var.LLDB_BUILD_DIR)\bin\lldb-argdumper.pdb" Checksum="yes" DiskId="3" />
        <File Id="LLDB_MI_PDB" Source="$(var.LLDB_BUILD_DIR)\bin\lldb-mi.pdb" Checksum="yes" DiskId="3" />
        <File Id="LLDB_PDB" Source="$(var.LLDB_BUILD_DIR)\bin\lldb.pdb" Checksum="yes" DiskId="3" />
        <!-- llvm -->
        <File Id="DSYMUTIL_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\dsymutil.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_AR_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-ar.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_COV_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cov.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_CVTRES_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cvtres.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_CXXFILT_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-cxxfilt.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_DWP_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-dwp.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_MT_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-mt.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_NM_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-nm.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_OBJDUMP_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-objdump.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_PDBUTIL_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-pdbutil.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_PROFDATA_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-profdata.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_RC_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-rc.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_READOBJ_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-readobj.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_SIZE_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-size.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_SYMBOLIZER_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-symbolizer.pdb" Checksum="yes" DiskId="4" />
        <File Id="LLVM_UNDNAME_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\llvm-undname.pdb" Checksum="yes" DiskId="4" />
        <File Id="LTO_PDB" Source="$(var.LLVM_BUILD_DIR)\bin\LTO.pdb" Checksum="yes" DiskId="4" />
        <!-- swift -->
        <File Id="SWIFT_DEMANGLE_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-demangle.pdb" Checksum="yes" DiskId="5" />
        <File Id="SWIFT_REFACTOR_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\swift-refactor.pdb" Checksum="yes" DiskId="5" />
        <File Id="SWIFT_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\swift.pdb" Checksum="yes" DiskId="5" />
        <File Id="SWIFTDEMANGLE_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\swiftDemangle.pdb" Checksum="yes" DiskId="5" />
        <File Id="SWIFTREMOTEMIRROR_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\swiftRemoteMirror.pdb" Checksum="yes" DiskId="5" />
        <!-- sourcekit -->
        <File Id="BLOCKSRUNTIME_PDB" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\src\libdispatch-build\BlocksRuntime.pdb" Checksum="yes" DiskId="6" />
        <File Id="DISPATCH_PDB" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\src\libdispatch-build\src\dispatch.pdb" Checksum="yes" DiskId="6" />
        <File Id="SOURCEKITDINPROC_PDB" Source="$(var.SWIFT_BUILD_DIR)\bin\sourcekitdInProc.pdb" Checksum="yes" DiskId="6" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_LIB">
      <Component Id="TOOLCHAIN_IMPLIBS" Guid="b2dc9c80-9fe3-46b5-9fec-c9e140004c1e">
        <File Id="BLOCKSRUNTIME_LIB" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\lib\BlocksRuntime.lib" Checksum="yes" />
        <File Id="DISPATCH_LIB" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\lib\dispatch.lib" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE">
      <Component Id="BLOCK_HEADERS" Guid="3a5ff225-606a-4495-961f-b27b99b1757b">
        <File Id="BLOCK_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\Block.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_DISPATCH">
      <Component Id="DISPATCH_HEADERS" Guid="948f3c2c-c13a-4cce-b97d-01469026d3ae">
        <File Id="DISPATCH_BASE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\base.h" Checksum="yes" />
        <File Id="DISPATCH_BLOCK_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\block.h" Checksum="yes" />
        <File Id="DISPATCH_DATA_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\data.h" Checksum="yes" />
        <File Id="DISPATCH_DISPATCH_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\dispatch.h" Checksum="yes" />
        <File Id="DISPATCH_GROUP_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\group.h" Checksum="yes" />
        <File Id="DISPATCH_INTROSPECTION_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\introspection.h" Checksum="yes" />
        <File Id="DISPATCH_IO_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\io.h" Checksum="yes" />
        <File Id="DISPATCH_OBJECT_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\object.h" Checksum="yes" />
        <File Id="DISPATCH_ONCE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\once.h" Checksum="yes" />
        <File Id="DISPATCH_QUEUE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\queue.h" Checksum="yes" />
        <File Id="DISPATCH_SEMAPHORE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\semaphore.h" Checksum="yes" />
        <File Id="DISPATCH_SOURCE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\source.h" Checksum="yes" />
        <File Id="DISPATCH_TIME_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\dispatch\time.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="USR_INCLUDE_OS">
      <Component Id="OS_HEADERS" Guid="f38b0f5c-e24c-4869-ade9-5bcee28b28fe">
        <File Id="OS_OBJECT_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\os\object.h" Checksum="yes" />
        <File Id="OS_GENERIC_UNIX_BASE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\os\generic_unix_base.h" Checksum="yes" />
        <File Id="OS_GENERIC_WIN_BASE_H" Source="$(var.SWIFT_BUILD_DIR)\libdispatch-prefix\include\os\generic_win_base.h" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <!--
    <DirectoryRef Id="USR_INCLUDE_SOURCEKIT">
      <Component Id="SOURCEKIT_HEADERS" Guid="14afefdd-3f80-4ef9-bcd9-7ebb179d837f">
        <File Id="SOURCEKITD_H" Source="$(var.SWIFT_BUILD_DIR)\...\sourcekitd.h" Checksum="yes" />
      </Component>
    </DirectoryRef>
    -->

    <DirectoryRef Id="USR_LIB_SWIFT_MIGRATOR">
      <Component Id="SWIFT_MIGRATOR_DATA" Guid="4b9e7927-41e0-43ab-a3f0-ad24a69237f6">
        <File Id="MACOS4_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\macos4.json" Checksum="yes" />
        <File Id="IOS4_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\ios4.json" Checksum="yes" />
        <File Id="TVOS4_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\tvos4.json" Checksum="yes" />
        <File Id="WATCHOS4_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\watchos4.json" Checksum="yes" />
        <File Id="OVERLAY4_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\overlay4.json" Checksum="yes" />
        <File Id="MACOS42_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\macos42.json" Checksum="yes" />
        <File Id="IOS42_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\ios42.json" Checksum="yes" />
        <File Id="TVOS42_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\tvos42.json" Checksum="yes" />
        <File Id="WATCHOS42_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\watchos42.json" Checksum="yes" />
        <File Id="OVERLAY42_JSON" Source="$(var.SWIFT_BUILD_DIR)\lib\swift\migrator\overlay42.json" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="TOOLCHAIN" Level="1">
      <ComponentRef Id="TOOLCHAIN_BINS" />
      <ComponentRef Id="TOOLCHAIN_IMPLIBS" />
      <ComponentRef Id="BLOCK_HEADERS" />
      <ComponentRef Id="DISPATCH_HEADERS" />
      <ComponentRef Id="OS_HEADERS" />
      <ComponentRef Id="SWIFT_MIGRATOR_DATA" />
      <ComponentGroupRef Id="CLANG_RESOURCES" />
      <ComponentGroupRef Id="SWIFT_SHIMS" />
    </Feature>

    <Feature Id="DEBUGINFO" Level="0">
      <Condition Level="1">INSTALL_DEBUGINFO</Condition>
      <ComponentRef Id="TOOLCHAIN_DEBUGINFO" />
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
